# ETL Project - The Movie DB

In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
import os

### Extraction of Data

In [2]:
# Store CSV into DataFrame (Movie)
movie_csv_file = os.path.join('Resources','movies_metadata.csv')
movie_df = pd.read_csv(movie_csv_file)
movie_df.head(1)

C:\Users\miva\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [3]:
# Store CSV into DataFrame (Ratings)
ratings_csv_file = os.path.join('Resources','ratings.csv')
ratings_df = pd.read_csv(ratings_csv_file)
ratings_df.head(1)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529

In [4]:
# Store CSV into DataFrame (Credits)
cast_crew_csv_file = os.path.join('Resources','credits.csv')
cast_crew_df = pd.read_csv(cast_crew_csv_file)
cast_crew_df.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [5]:
# Store CSV into DataFrame (Links)
links_csv_file = os.path.join('Resources','links.csv')
links_df = pd.read_csv(links_csv_file)
links_df.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

### Transformation of Data

In [6]:
''' MOVIES TABLE '''

' MOVIES TABLE '

In [7]:
# Removing the columns that are not required from 'new_movie_df'
new_movie_df = movie_df[['id', 'imdb_id','original_title','release_date','runtime','status','popularity','original_language','adult','overview','homepage','budget','revenue','genres']].copy()
new_movie_df.head(1)

,id,imdb_id,original_title,release_date,runtime,status,popularity,original_language,adult,overview,homepage,budget,revenue,genres
0,862,tt0114709,Toy Story,1995-10-30,81.0,Released,21.9469,en,False,"Led by Woody, Andy's toys live happily in his ...",http://toystory.disney.com/toy-story,30000000,373554033.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."

In [8]:
# Rename runtime 'column' to 'length(minutes)'
new_movie_df  = new_movie_df.rename(columns={'runtime':'length'})
new_movie_df.head(1)

,id,imdb_id,original_title,release_date,length,status,popularity,original_language,adult,overview,homepage,budget,revenue,genres
0,862,tt0114709,Toy Story,1995-10-30,81.0,Released,21.9469,en,False,"Led by Woody, Andy's toys live happily in his ...",http://toystory.disney.com/toy-story,30000000,373554033.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."

In [ ]:

# Creating a new datframe
movie_df_new = pd.DataFrame()


## Fetching each genre from 'genres' column in 'new_movie_df' dataframe ##

new_movie_df['new_genres'] = ''

for index, row in new_movie_df.iterrows():
    genres_list = []
    print(f"-index {index}-")
    
    try:
        movie_df_new.loc[index,'id'] = new_movie_df.loc[index,'id']
        movie_df_new.loc[index,'imdb_id'] = new_movie_df.loc[index,'imdb_id']
        movie_df_new.loc[index,'original_title'] = new_movie_df.loc[index,'original_title']
        movie_df_new.loc[index,'release_date'] = new_movie_df.loc[index,'release_date']
        movie_df_new.loc[index,'length'] = new_movie_df.loc[index,'length']
        movie_df_new.loc[index,'status'] = new_movie_df.loc[index,'status']
        movie_df_new.loc[index,'popularity'] = new_movie_df.loc[index,'popularity']
        movie_df_new.loc[index,'original_language'] = new_movie_df.loc[index,'original_language']
        movie_df_new.loc[index,'adult'] = new_movie_df.loc[index,'adult']
        movie_df_new.loc[index,'overview'] = new_movie_df.loc[index,'overview']
        movie_df_new.loc[index,'homepage'] = new_movie_df.loc[index,'homepage']
        movie_df_new.loc[index,'budget'] = new_movie_df.loc[index,'budget']
        movie_df_new.loc[index,'revenue'] = new_movie_df.loc[index,'revenue']
        movie_df_new.loc[index,'genres'] = new_movie_df.loc[index,'genres']
        
        genres = new_movie_df.iloc[index]['genres']
        genres = eval(genres)
        for i in range(0,len(genres)):
            genres_list.append(genres[i]['name'])
            genres_listToStr = ', '.join([str(genre) for genre in genres_list]) 
            new_movie_df.loc[index,'new_genres'] = genres_listToStr
            movie_df_new.loc[index,'genres'] = genres_listToStr
            
    except:
        pass
    
    if (index == 10000):
        break

In [10]:
movie_df_new.head()

In [ ]:
# Removing duplicates records from dataframe
movie_df_new = movie_df_new.drop_duplicates(subset ="id", keep = False)

In [11]:
# Saving dataframe into csv file
movie_df_new.to_csv('Resources2/movies_small.csv', header=True, index=False)

In [14]:
movie_file_small = os.path.join('Resources2','movies_small.csv')
movie_small_df_new = pd.read_csv(movie_file_small)
movie_small_df_new.head(1)

,id,imdb_id,original_title,release_date,length,status,popularity,original_language,adult,overview,homepage,budget,revenue,genres
0,862,tt0114709,Toy Story,1995-10-30,81.0,Released,21.946943,en,False,"Led by Woody, Andy's toys live happily in his ...",http://toystory.disney.com/toy-story,30000000,373554033.0,"Animation, Comedy, Family"

In [ ]:
# Coverting column datatype to string
movie_small_df_new['imdb_id'] = movie_small_df_new['imdb_id'].astype(str)
movie_small_df_new['imdb_id'].dtype

In [ ]:
# Removing leading characters 'tt' and 'o' from imdb_id column

movie_small_df_new['imdb_id_new'] = ''


for index, row in movie_small_df_new.iterrows():
    
    imdb = movie_small_df_new.loc[index,'imdb_id']
    imdb1 = imdb.lstrip('t')
    imdb2 = imdb1.lstrip('0')
    movie_small_df_new.loc[index,'imdb_id_new'] = imdb2

In [ ]:
movie_small_df_new.head(2)

In [ ]:
# Saving updated dataframe to another csv file
movie_small_df_new.to_csv('Resources2/movies_cleaned_small.csv', header=True, index=False)

In [ ]:
''' PRODUCTION TABLE '''

# Creating new 'production_df' dataframe from 'movie_df' dataframe
production_df = movie_df[['id','production_companies', 'production_countries']].copy()
production_df.head(2)

In [ ]:
# Creating a new dataframe
production_df_new = pd.DataFrame()

## Fetching production company , production countries from 'production_df' dataframe ##

production_df['companies'] = ''
production_df['countries'] = ''

for index, row in production_df.iterrows():
    
    print(f"-index {index}-")
    production_df_new.loc[index,'id'] = production_df.iloc[index]['id']    
    # Creating empty list
    production_companies = []
    production_countries = []
    
    try:
        
        # Fetching production company information from list of dictionaries
        companies = production_df.iloc[index]['production_companies']
        companies = eval(companies)
        for i in range(0,len(companies)):
            production_companies.append(companies[i]['name'])
            companies_listToStr = ', '.join([str(pc) for pc in production_companies]) 
            production_df.loc[index, 'companies'] = companies_listToStr
            production_df_new.loc[index,'production_companies'] = companies_listToStr

        # Fetching production country information from list of dictionaries
        countries = production_df.iloc[index]['production_countries']
        countries = eval(countries)
        for i in range(0,len(countries)):
            production_countries.append(countries[i]['name'])
            countries_listToStr = ', '.join([str(pc) for pc in production_countries]) 
            production_df.loc[index, 'countries'] = countries_listToStr
            production_df_new.loc[index,'production_countries'] = countries_listToStr
            
    except:
        pass
    
    # Breaking loop at 10000 record
    if(index == 10000):
          break

In [ ]:
production_df_new.count()

In [ ]:
production_df_new.head()

In [ ]:
# Saving updated dataframe to csv file
production_df_new.to_csv('Resources2/production_small.csv', header=True, index=False)

In [ ]:
''' CREDITS TABLE '''

In [ ]:
cast_crew_df.head()

In [ ]:
cast_crew_df['id'].dtype

In [ ]:
# Creating a new dataframe
credits_df_new = pd.DataFrame()

## Fetching actors name, director and producers from 'crew' column in 'cast_crew_df' dataframe ##

cast_crew_df['actors'] = ''
cast_crew_df['director'] = ''
cast_crew_df['producer'] = ''


for index, row in cast_crew_df.iterrows():
    actors_name=[]
    directors_name = []
    producers_name = []
    print(f"-index {index}-")
    
    try:
        credits_df_new.loc[index,'id'] = cast_crew_df.loc[index,'id']
        
        cast = cast_crew_df.iloc[index]['cast']
        cast = eval(cast)
        for i in range(0,len(cast)):
            actors_name.append(cast[i]['name'])
            if (i == 4):
                actors_listToStr = ', '.join([str(actor) for actor in actors_name]) 
                cast_crew_df.loc[index,'actors'] = actors_listToStr
                credits_df_new.loc[index,'actors'] = actors_listToStr
                break

        crew = cast_crew_df.iloc[index]['crew']
        crew = eval(crew)
        for i in range(0,len(crew)):
            if (crew[i]['job'] == 'Director'):
                directors_name.append(crew[i]['name'])


            if (crew[i]['job'] == 'Producer'):
                producers_name.append(crew[i]['name'])

        director_name = ', '.join([str(director) for director in directors_name])
        cast_crew_df.loc[index,'director'] = director_name
        credits_df_new.loc[index,'director'] = director_name

        producer_name = ', '.join([str(producer) for producer in producers_name])
        cast_crew_df.loc[index,'producer'] = producer_name 
        credits_df_new.loc[index,'producer'] = producer_name
        
    except:
        print('error')
                
    if (index == 10000):
        break

In [ ]:
credits_df_new.count()

In [ ]:
credits_df_new.head()

In [ ]:
#credits_df_new['id'] = credits_df_new['id'].astype(str)
credits_df_new['id'].dtype

In [ ]:
credits_df_new['id'] = credits_df_new['id'].astype(int)

In [ ]:
credits_df_new['id'].head()

In [ ]:
# Saving updated dataframe to csv file
credits_df_new.to_csv('Resources2/credits_small.csv', header=True, index=False)

In [ ]:
''' LINKS TABLE '''

In [ ]:
# Rename column names to in 'links_df' dataframe
links_df_new  = links_df.rename(columns={'imdbId':'imdb_id'})
links_df_new  = links_df_new.rename(columns={'tmdbId':'tmdb_id'})
links_df_new  = links_df_new.rename(columns={'movieId':'movie_id'})

# Removing column tmdbId from dataframe
links_df_new = links_df_new.drop(['tmdb_id'], axis = 1)  

# final datframe
links_df_final = links_df_new.copy()
links_df_final.head(5)

In [ ]:
links_df_final.count()

In [ ]:
links_df_final.head()

In [ ]:
# Creating a new dataframe
links_df_new = pd.DataFrame()

In [ ]:
for index, row in links_df_final.iterrows():
    
    print(f"-index {index}-")
   
    links_df_new.loc[index,'movie_id'] = links_df_final.loc[index,'movie_id']   
    links_df_new.loc[index,'imdb_id'] = links_df_final.loc[index,'imdb_id']   
    
    if (index == 10000):
        break

In [ ]:
links_df_new.head()

In [ ]:
links_df_new.count()

In [ ]:
# Converting float to int datatype
links_df_new['movie_id'] = links_df_new['movie_id'].astype(int)
links_df_new['imdb_id'] = links_df_new['imdb_id'].astype(int)

In [ ]:
links_df_new.to_csv('Resources2/links_small.csv', header=True, index=False)

In [ ]:
''' RATINGS TABlE '''

In [ ]:
# Removing columns that are not required from 'new_ratings_df' dataframe
new_ratings_df = ratings_df[['movieId','rating']].copy()
new_ratings_df.head(1)

In [ ]:
# Rename 'movieId' column to 'movie_id' in 'new_ratings_df' dataframe
new_ratings_df  = new_ratings_df.rename(columns={'movieId':'movie_id'})
new_ratings_df.head(1)

# final datframe
ratings_df_final = new_ratings_df.copy()
ratings_df_final.head()

In [ ]:
# Creating a new dataframe
ratings_df_new = pd.DataFrame()


for index, row in ratings_df_final.iterrows():
    
    print(f"-index {index}-")
   
    ratings_df_new.loc[index,'movie_id'] = ratings_df_final.loc[index,'movie_id']   
    ratings_df_new.loc[index,'rating'] = ratings_df_final.loc[index,'rating']   
    
    if (index == 10000):
        break

In [ ]:
ratings_df_new.head()

In [ ]:
ratings_df_new['movie_id'] = ratings_df_new['movie_id'].astype(int)

In [ ]:
ratings_df_new.head()

In [ ]:
# Saving updated dataframe to csv file
ratings_df_new.to_csv('Resources2/ratings_small.csv', header=True, index=False)